<header class="site-header" id="masthead" itemscope itemtype="http://schema.org/WPHeader" role="banner">
    <div class="header-top">
        <div class="container">
            <a class="email" href="mailto:edgarredondo@gmail.com"><i class="fa fa-envelope-o"></i>edgarredondo@gmail.com</a>
            <a class="tel-link" href="tel:34668694910"><i class="fa fa-phone"></i>+34 668 69 49 10</a>
            <ul class="social-networks">
                <li><a class="fa fa-facebook" href="https://www.facebook.com/Edgar.Redondo.Profesor/" target="_blank" title="Facebook"></a></li>
                <li><a class="fa fa-linkedin" href="https://www.linkedin.com/in/edgar-redondo-5bb33564/" target="_blank" title="LinkedIn"></a></li>
            </ul>
        </div>
    </div>
    <div class="header-bottom">
        <div class="container">
            <div class="site-branding" itemscope itemtype="http://schema.org/Organization">
                <h1 class="site-title" itemprop="name">
                    <a href="{{ .Site.BaseURL }}" itemprop="url" rel="home">{{ .Site.Title }}</a>
                </h1>
                <p class="site-description" itemprop="description">{{ .Site.Params.description }}</p>
            </div>
            <nav class="main-navigation" id="site-navigation" itemscope itemtype="http://schema.org/SiteNavigationElement" role="navigation">
                <div class="menu-menu-container">
                    <ul class="menu" id="primary-menu">
                        <li class="menu-item menu-item-home menu-item-has-children">
                            <a href="{{ .Site.BaseURL }}">MENÚ</a>
                            <ul class="sub-menu">
                                <li class="menu-item menu-item-has-children">
                                    <a href="/categories/filosofía/">Filosofía</a>
                                    <ul class="sub-menu">
                                        <li class="menu-item"><a href="/categories/transhumanismo/">Transhumanismo</a></li>
                                    </ul>
                                </li>
                                <li class="menu-item"><a href="/categories/matemáticas/">Matemáticas</a></li>
                                <li class="menu-item"><a href="/categories/lógica/">Lógica</a></li>
                                <li class="menu-item"><a href="/categories/frases-celebres/">Frases célebres</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</header>
